<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
</head>
<body>
    <form method="GET" action="{% url 'mypage' user.id %}">
        <h1>내 정보</h1>
        {% if user.is_active %}
        <p>환영합니다. <b>{{user.username}}</b>님 환영합니다.</p>
        <p>이름 : {{ user.username }}</p>
        
            <p>닉네임: {{ profile.nickname }}</p>
            <p><img src="{{ account.profile_image.url }} user.id" width="250" height="250" alt="image"></p>
            <li><a href="{% url 'user_update' %}">회원정보수정</a></li>
            <button><a href="{% url 'logout' %}">로그아웃</a></button>
            
        {% else %}
        <button><a href="{% url 'login' %}">로그인</a></button>
        <button><a href="{% url 'signup' %}">회원가입</a></button>
        {% endif %}
    </form>
</body>
</html>

